@media only screen and (max-width: 458px) {
    .THIS .ccf-footer-exp-logo {
        float: none !important;
        line-height: 1px !important;
        margin-top: 16px;
        margin-right: 0px;
        width: 100%;
        text-align: center !important;
    }

    .THIS .ccf-footer-firstrow {
        width: 100%;
        margin-left: 0%;
        text-align: center !important;
    }

    .THIS .ccf-footer-container {
        text-align: center !important;
    }
}

/* Extra small devices (phones, less than 768px) */
@media only screen and (min-width: 459px) and (max-width: 767px) {
    .THIS .ccf-footer-container {
        width: 100% !important;
    }

    .THIS .ccf-footer-firstrow {
        margin-left: 8% !important;
    }

    .THIS .ccf-footer-exp-logo {
        margin-right: 8% !important;
    }
}

@media only screen and (max-width: 991px) {
    .THIS .ccf-footer-exp-logo {
        padding-left: 0px !important;
        vertical-align: middle !important;
        float: right;
        line-height: 110px;
    }

    .THIS .ccf-inline-list-item {
        display: block !important;
        padding-right: 0px !important;
    }

    .THIS .ccf-footer-firstrow {
        vertical-align: middle !important;
        margin-left: 8px;
    }

    .THIS .ccf-footer-container {
        text-align: left !important;
    }
/*    .THIS .ccf-footer-firstrow:after {
        content: "";
        display: table;
        clear: both;
    }

    .THIS .ccf-footer-exp-logo:before {
        content: "";
        display: table;
        clear: both;
    }*/
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .THIS .ccf-footer-container {
        width: 750px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .THIS .ccf-footer-container {
        width: 970px !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .THIS .ccf-footer-container {
        width: 1170px !important;
    }
}

.THIS {
    width: 100%;
    text-align: center;
/*    background-color: rgb(96, 96, 96) !important;*/
    color: black !important;

    /*background: #513a68;*/ /* For browsers that do not support gradients */
/*    background: -webkit-linear-gradient(left, #513a68, #7d638b, #212c4d);
    background: -o-linear-gradient(left, #513a68, #7d638b, #212c4d);
    background: -moz-linear-gradient(left, #513a68, #7d638b, #212c4d);
    background: linear-gradient(to right, #513a68, #7d638b, #212c4d);*/
    background-color: white;
}

.THIS .ccf-footer-container {
    display: inline-block;
    padding: 8px 0px;
    z-index: 10;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    margin-bottom: 32px;
}

.THIS .ccf-footer-firstrow {
    display: inline-block;
}

.THIS .ccf-inline-list-item {
    display: inline-block;
    padding-right: 26px;
}

.THIS .ccf-inline-list-item:last-child {
    padding-right: 0px;
}

.THIS .ccf-inline-list-item a {
    color: rgb(0, 0, 0) !important;
    font-size: 15px;
}

.THIS .ccf-inline-list-item a:hover {
    text-decoration: underline !important;
    color: rgb(38, 71, 141) !important;
}

.THIS .ccf-footer-exp-logo {
    display: inline-block;
    padding-left: 32px;
}

.THIS .ccf-exp-logo-img {
    width: 200px;
}