.THIS {
}

.THIS.wrapper {
    max-width:1000px;
    margin:0 auto;
}

.THIS .tile_col {
    display:inline-block;
    vertical-align:top;
}

.THIS .tile_link:hover img, .THIS .tile_link:active img, .THIS .tile_link:focus img {
    
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.THIS .tile_link .tile_text {
    color:#ffffff;
    background-color:#ffffff;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
}

.THIS .tile_link:hover .tile_text, .THIS .tile_link:active .tile_text, .THIS .tile_link:focus .tile_text{
    background-color: #646464;
    color:#ffffff;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity:1;
}