@media only screen and (max-width: 767px) {
    .THIS .table-row-content {
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        padding-left: 4px !important;
    }

    .THIS .hide-on-mobile {
        display: none !important;
    }

    .THIS .search-key {
        width: 90% !important;
        margin-top: 8px !important;
    }

    .THIS .sfdc-case {
        margin-bottom: 32px;
    }
}

.THIS .eccl-loading-logo {
    height: 128px;
    width: 128px;
}

.THIS .eccl-full-screen-spinner {
    position:fixed;
    background-color: white;
    min-height: 100vh;
    opacity: 0.7;
    width:100%;

    left: 0;
    top: 0;
    padding-top: 25vh;
}

/*.THIS .eccl-full-screen-spinner * {
    border: none;
    background-color: white;
}*/

.THIS .table-row-content {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
}

.THIS.eccl-main-wrapepr {
    font-family: 'Roboto', sans-serif !important;
}

.THIS .filter-search {
    margin-bottom: 32px;
    text-align: center;
}

.THIS .create-case-btns {
    margin-bottom: 32px;
    text-align: center;
}

.THIS .sfdc-case, .THIS .service-case {
    margin-right: 20px;

    background: none;
    box-shadow: 2px 2px 2px #999999;

    /*width: 250px;*/
    width: auto;
    height: 32px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    cursor: pointer;
    border: 0px solid black;
    border-radius: 6px;

    background-color: #bb0048;
    color: #f9f4ff;
    height:44px;
    line-height:44px;
    padding: 0 40px;
}

.THIS .search-by-header {
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
}
.THIS .search-by-field {
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
    width: auto;
    padding-right: 30px !important;
}
.THIS .search-key {
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
    width: 35%;
    min-height: auto !important;
}

.THIS li {
    border-bottom: solid 1px #DDDDDD;
    padding: 8px;
}

.THIS p {
    background-color: green;
    margin: 4px;
}

.THIS .tBodyRow {
    padding: 8px;
    border-bottom: solid 1px #DDDDDD;
    margin-top: 10px;
    
}

.THIS .tHead {
    background-color:rgb(234, 234, 241);
    
}

.THIS .tBodyColumn {
    padding: 8px;
}


.THIS {
    font-family: 'Roboto', sans-serif !important;
}

/*.THIS .pageBtn {
    display: inline-block;
    height: 32px;
    min-width: 64px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px #999999;
}

.THIS .pageBtn:disabled {
    background-color: rgba(0, 0, 0, 0.3) !important;
    cursor: not-allowed;
    color: grey;
}*/

.THIS .pageBtn {
    display: inline-block;

    min-width: 128px;
    margin-right: 10px;

    background: none;
    color: #ffffff;
    background-color: rgb(38, 71, 141);

    border-radius: .125rem;
    outline: none;
    border: none;
    font-size: .875em;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 10px;

    transition: border .25s linear,color .25s linear,background-color .25s linear;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    margin-bottom: 0;
    border-radius:6px;
}

.THIS .pageBtn:hover, .THIS .pageBtn:focus {
    background-color: #1b3365 !important;
}

.THIS .pageBtn:disabled {
    background-color: rgba(0, 0, 0, 0.3) !important;
    cursor: not-allowed;
}



/*.THIS .uiButton > span {
    color: black;
    font-size: 2em;
}*/

.THIS .paginationPageSelector {
    width: 70px !important;
    font-size: 18px;
    display: block;
    height: 26px;

    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

    text-align: center; 
}

.THIS .paginationPageSelectorCommonSetting {
    display: inline-block !important;
    font-size: 18px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.THIS .float-left {
    float: left;
}

.THIS .right-margin {
    margin-right: 6px;
}

.THIS .pagination-control-section {
    margin-top: 32px;
    text-align: center;
}

.THIS .hide-div {
    display: none !important;
}