.THIS .esgin-clear-section {
	background: white !important;
}

.THIS .esgin-optional-text {
	font-style: italic;
}

.THIS .esgin-italic-text {
	font-style: italic;
}

.THIS .esign-p-top--large {
	padding-top: 20px !important;
}

.THIS .esign-header-title {
	/* font-weight: bold !important; */
}

.THIS .esign-link {
    color: #0070d2 !important;
}

.THIS .esign-m-left--100px {
    margin-left: 100px !important;
}

.THIS .esign-left-col {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(216, 221, 230);
    padding-right: 20px !important;
}

.THIS .esign-box-noborder {
    /* padding: 20px; */
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.THIS .esign-no-margin {
	margin-left: 0px !important;
}

.THIS .esign-icon-markup {
    background-color: transparent !important;
}