<!-- 
/**===================================================================== 
* Name: AccountPlanRevenueAndProductsTab 
* Description: This is the Account Plan Revenue and Products VF page. 
* It is referenced from the AccountPlanTabPanel VF page. 
* Created Date: March 9th, 2016 
* Created By: James Wills 
* Date Modified               Modified By                 Description of the update
* July 1st, 2016              Manoj Gopu                  Case 01955799: Updated code for Account plan - Revenue & Products.
* Oct. 24th, 2016             James Wills                 Case 01983126: Added Custom Labels, Tab Label and Field Labels
* =====================================================================*/ 
--> 


<apex:page Controller="AccountPlanControllerExtension"> 
    
    <!--<apex:page StandardController="Account_Plan__c" extensions="AccountPlanControllerExtension"> --> 
    <!--apex:includeScript value="/xdomain/xdomain.js"/> 
<apex:includeScript value="/soap/ajax/26.0/connection.js"/> 
<apex:includeScript value="/support/console/26.0/integration.js"/--> 
    
    <apex:form id="frm"> 
        <apex:pageMessages id="msg"/> 
        <apex:pageBlock Title=""> 
            <apex:pageBlock mode="edit" id="pgBlock" title="{!$Label.ACCOUNTPLANNING_Current_FY_Pipeline}"> 
                <apex:pageBlockSection title="" columns="1" id="pgBlockSection"> 
                    <apex:pageBlockSectionItem id="pgBlockSectionitem"> 
                        <apex:outputText value="{!$Label.ACCOUNTPLANNING_Select_Opportunity_Type}" />
                        <apex:selectRadio id="idRadio1" onclick="boolFunction(this);" > 
                            <apex:selectOption itemValue="NewRen" itemLabel="{!$Label.ACCOUNTPLANNING_New_Business_And_Renewal}" /> 
                            <apex:selectOption itemValue="New" itemLabel="{!$Label.ACCOUNTPLANNING_New_Business_Only}" />
                            <apex:selectOption itemValue="Renewal" itemLabel="{!$Label.ACCOUNTPLANNING_Renewal_Business_Only}" />
                        </apex:selectRadio> 
                    </apex:pageBlockSectionItem> 
                </apex:pageBlockSection> 
            </apex:pageBlock> 
            
            <span id="idSpan" style = "display:block"> 
                <apex:pageBlock id="pb" Title="{!$Label.ACCOUNTPLANNING_New_Business_And_Renewal}">
                    <apex:pageMessages escape="false" /> 
                    <apex:outputPanel style="color:#4AA02C;font-weight:bold"> 
                        <apex:actionStatus id="searching" startText="{!$Label.Address_Merge_Fetching}" stopText=""/> 
                    </apex:outputPanel> 
                    <table width="100%" style="margin:10px;"> 
                        <tr class=" headerRow "> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">{!$Label.ACCOUNTPLANNING_Product_Global_Business_Line}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">{!$Label.Business_Line}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Open_Pipeline_Value}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Expected_Pipeline_Value}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Current_FY_Revenue_Impact}</th> 
                        </tr> 
                        <apex:repeat value="{!BLPipelineSeggrLst}" var="FieldKey4"> 
                            <tr> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey4.GlobalBL}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey4.BusinessLine}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!FieldKey4.SalePrice}" /> 
                                    </apex:outputText> 
                                </td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!FieldKey4.ExpectedSalePrice}" /> 
                                    </apex:outputText> 
                                </td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!FieldKey4.FiscalRev}" /> 
                                    </apex:outputText> 
                                </td> 
                            </tr> 
                        </apex:repeat> 
                    </table> 
                </apex:pageBlock> 
            </span> 
            
            <!-- This Section is for displaying All Opty Types both Renewal and New.--> 
            <span id="idSpanNew" style = "display:none"> 
                <!-- This Section is for displaying Only Optys of Type New--> 
                <apex:pageBlock id="pbNewOnly" Title="{!$Label.ACCOUNTPLANNING_New_Business_Only}">
                    <apex:pageMessages escape="false" /> 
                    <apex:outputPanel style="color:#4AA02C;font-weight:bold"> 
                        <apex:actionStatus id="searching" startText="{!$Label.Address_Merge_Fetching}" stopText=""/> 
                    </apex:outputPanel> 
                    <table width="100%" style="margin:10px;"> 
                        <tr class=" headerRow "> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">{!$Label.ACCOUNTPLANNING_Product_Global_Business_Line}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">{!$Label.Business_Line}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Open_Pipeline_Value}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Expected_Pipeline_Value}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Current_FY_Revenue_Impact}</th> 
                        </tr> 
                        <apex:repeat value="{!BLPipelineSeggrLstNew}" var="FieldKey"> 
                            <tr> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey.GlobalBL}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey.BusinessLine}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!FieldKey.SalePrice}" /> 
                                    </apex:outputText> 
                                </td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!FieldKey.ExpectedSalePrice}" /> 
                                    </apex:outputText> 
                                </td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!FieldKey.FiscalRev}" /> 
                                    </apex:outputText> 
                                </td> 
                            </tr> 
                        </apex:repeat> 
                    </table> 
                </apex:pageBlock> 
            </span> 
            
            <span id="idSpanRenewal" style = "display:none"> 
                <!-- This Section is for displaying Only Optys of Type Renewal--> 
                <apex:pageBlock id="pbRenewal" Title="{!$Label.ACCOUNTPLANNING_Renewal_Business_Only}"> 
                    <apex:pageMessages escape="false" /> 
                    <apex:outputPanel style="color:#4AA02C;font-weight:bold"> 
                        <apex:actionStatus id="searching" startText="{!$Label.Address_Merge_Fetching}" stopText=""/> 
                    </apex:outputPanel> 
                    <table width="100%" style="margin:10px;"> 
                        <tr class=" headerRow "> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">{!$Label.ACCOUNTPLANNING_Product_Global_Business_Line}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">{!$Label.Business_Line}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Open_Pipeline_Value}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Expected_Pipeline_Value}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Current_FY_Revenue_Impact}</th> 
                        </tr> 
                        <apex:repeat value="{!BLPipelineSeggrLstRenewal}" var="FieldKey5"> 
                            <tr> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey5.GlobalBL}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey5.BusinessLine}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!FieldKey5.SalePrice}" /> 
                                    </apex:outputText> 
                                </td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!FieldKey5.ExpectedSalePrice}" /> 
                                    </apex:outputText> 
                                </td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!FieldKey5.FiscalRev}" /> 
                                    </apex:outputText> 
                                </td> 
                            </tr> 
                        </apex:repeat> 
                    </table> 
                </apex:pageBlock> 
            </span> 
            
            <span id="idLastPrevYr" style = "display:block"> 
                <apex:pageBlock id="LastYearsWonRevenueBreakdown" title="{!$Label.ACCOUNTPLANNING_Last_Years_Won_Revenue} {!previousFY}"> 
                    <apex:outputText label="Last Year's Won Revenue:" value="{0, number, 0,000.00} ({!UserCurrency})"> 
                        <apex:param value="{!wonRevenuePreviousFY}"/> 
                    </apex:outputText> 
                    <table width="100%" style="margin:10px;"> 
                        <tr class=" headerRow "> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">{!$Label.ACCOUNTPLANNING_Product_Global_Business_Line}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">Product Business Line</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Sum_Of_Order_Item_Value}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Sum_Of_Revenue}</th> 
                        </tr> 
                        <apex:repeat value="{!lastYearsWonRevenueList}" var="lywr"> 
                            <tr> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!lywr.GlobalBusinessLine}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!lywr.ProductBusinessline}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!lywr.SumOfOrderItemValue}"/> 
                                    </apex:outputText> 
                                </td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!lywr.SumOfRevenue}"/> 
                                    </apex:outputText> 
                                </td> 
                            </tr> 
                        </apex:repeat> 
                    </table> 
                </apex:pageBlock> 
            </span> 
            
            <!-- Added by Manoj start--To display last year's new business only & Renewal business only data-->
            <span id="idLastPrevYrNew" style = "display:none">
                <apex:pageBlock id="LastYearsWonRevenueBreakdownNew" title="Last Year's New Business Won Revenue {!previousFY}"> 
                    <apex:outputText label="Last Year's Won Revenue:" value="{0, number, 0,000.00} ({!UserCurrency})"> 
                        <apex:param value="{!wonRevenueNewPreviousFY}"/> 
                    </apex:outputText> 
                    <table width="100%" style="margin:10px;"> 
                        <tr class=" headerRow "> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">{!$Label.ACCOUNTPLANNING_Product_Global_Business_Line}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">Product Business Line</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Sum_Of_Order_Item_Value}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Sum_Of_Revenue}</th> 
                        </tr> 
                        <apex:repeat value="{!lastYearsWonRevenueNewList}" var="lywr"> 
                            <tr> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!lywr.GlobalBusinessLine}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!lywr.ProductBusinessline}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!lywr.SumOfOrderItemValue}"/> 
                                    </apex:outputText> 
                                </td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!lywr.SumOfRevenue}"/> 
                                    </apex:outputText> 
                                </td> 
                            </tr> 
                        </apex:repeat> 
                    </table> 
                </apex:pageBlock>
            </span> 
            
            <span id="idLastPrevYrRen" style = "display:none">
                <apex:pageBlock id="LastYearsWonRevenueBreakdownRen" title="Last Year's Renewal Business Won Revenue {!previousFY}"> 
                    <apex:outputText label="Last Year's Won Revenue:" value="{0, number, 0,000.00} ({!UserCurrency})"> 
                        <apex:param value="{!wonRevenueRenPreviousFY}"/> 
                    </apex:outputText> 
                    <table width="100%" style="margin:10px;"> 
                        <tr class=" headerRow "> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">{!$Label.ACCOUNTPLANNING_Product_Global_Business_Line}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:14% !important">Product Business Line</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Sum_Of_Order_Item_Value}</th> 
                            <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_Sum_Of_Revenue}</th> 
                        </tr> 
                        <apex:repeat value="{!lastYearsWonRevenueRenList}" var="lywr"> 
                            <tr> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!lywr.GlobalBusinessLine}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!lywr.ProductBusinessline}" /></td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!lywr.SumOfOrderItemValue}"/> 
                                    </apex:outputText> 
                                </td> 
                                <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                    <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency})"> 
                                        <apex:param value="{!lywr.SumOfRevenue}"/> 
                                    </apex:outputText> 
                                </td> 
                            </tr> 
                        </apex:repeat> 
                    </table> 
                </apex:pageBlock>
            </span> 
            <!-- Added by Manoj start-->
            
            <apex:pageBlock Title="{!$Label.ACCOUNTPLANNING_PDF_Open_Opportunities}"> 
                <apex:pageMessages escape="false" /> 
                <apex:outputPanel style="color:#4AA02C;font-weight:bold"> 
                    <apex:actionStatus id="searching" startText="{!$Label.Address_Merge_Fetching}" stopText=""/> 
                </apex:outputPanel> 
                <table width="100%" style="margin:10px;"> 
                    <tr class=" headerRow "> 
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:25% !important">{!$Label.ACCOUNTPLANNING_PDF_Account_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:20% !important">{!$Label.ACCOUNTPLANNING_Opportunity_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:8% !important">{!$ObjectType.Opportunity.fields.Type.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:5% !important">{!$ObjectType.Opportunity.fields.StageName.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:15% !important">{!$ObjectType.Opportunity.fields.CloseDate.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_TCV}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_Owner}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$ObjectType.Opportunity.fields.Owner_s_Sales_team__c.label}</th>
                    </tr> 
                    <apex:repeat value="{!OpenOpps}" var="FieldKey1"> 
                        <tr> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.Account.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputLink value="/{!FieldKey1.Id}" target="_blank">{!FieldKey1.Name}</apex:outputLink></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.Type}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.StageName}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}" rendered="{!DtFormatType}" > 
                                    <apex:param value="{!FieldKey1.CloseDate}" /> 
                                </apex:outputText> 
                                <apex:outputText Value="{0,date,dd'/'MM'/'yyyy}" rendered="{!DtFormatType1}" > 
                                    <apex:param value="{!FieldKey1.CloseDate}" /> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency}) "> 
                                    <apex:param value="{!FieldKey1.Amount}"/> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.Owner.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.Owner_s_Sales_team__c}" /></td> 
                        </tr> 
                    </apex:repeat> 
                </table> 
            </apex:pageBlock> 
            
            <apex:pageBlock Title="{!$Label.ACCOUNTPLANNING_Key_Deals}"> 
                <apex:pageMessages escape="false" /> 
                <apex:outputPanel style="color:#4AA02C;font-weight:bold"> 
                    <apex:actionStatus id="searching" startText="{!$Label.Address_Merge_Fetching}" stopText=""/> 
                </apex:outputPanel> 
                <table width="100%" style="margin:10px;"> 
                    <tr class=" headerRow "> 
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:25% !important">{!$Label.ACCOUNTPLANNING_PDF_Account_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:20% !important">{!$Label.ACCOUNTPLANNING_Opportunity_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:8% !important">{!$ObjectType.Opportunity.fields.Type.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:5% !important">{!$ObjectType.Opportunity.fields.StageName.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:15% !important">{!$ObjectType.Opportunity.fields.CloseDate.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_TCV}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_Owner}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$ObjectType.Opportunity.fields.Owner_s_Sales_team__c.label}</th>
                    </tr> 
                    <apex:repeat value="{!KeyDeals}" var="FieldKey2"> 
                        <tr> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey2.Account.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputLink value="/{!FieldKey2.Id}" target="_blank">{!FieldKey2.Name}</apex:outputLink></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey2.Type}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey2.StageName}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}" rendered="{!DtFormatType}" > 
                                    <apex:param value="{!FieldKey2.CloseDate}" /> 
                                </apex:outputText> 
                                <apex:outputText Value="{0,date,dd'/'MM'/'yyyy}" rendered="{!DtFormatType1}" > 
                                    <apex:param value="{!FieldKey2.CloseDate}" /> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency}) "> 
                                    <apex:param value="{!FieldKey2.Amount}"/> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey2.Owner.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey2.Owner_s_Sales_team__c}" /></td> 
                        </tr> 
                    </apex:repeat> 
                </table> 
            </apex:pageBlock> 
            
            <apex:pageBlock Title="{!$Label.ACCOUNTPLANNING_PDF_Potential_Future_Opportunities}"> 
                <apex:pageMessages escape="false" /> 
                <apex:outputPanel style="color:#4AA02C;font-weight:bold"> 
                    <apex:actionStatus id="searching" startText="{!$Label.Address_Merge_Fetching}" stopText=""/> 
                </apex:outputPanel> 
                <table width="100%" style="margin:10px;"> 
                    <tr class=" headerRow "> 
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:25% !important">{!$Label.ACCOUNTPLANNING_PDF_Account_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:20% !important">{!$Label.ACCOUNTPLANNING_Opportunity_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:8% !important">{!$ObjectType.Opportunity.fields.Type.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:5% !important">{!$ObjectType.Opportunity.fields.StageName.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:15% !important">{!$ObjectType.Opportunity.fields.CloseDate.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_TCV}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_Owner}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$ObjectType.Opportunity.fields.Owner_s_Sales_team__c.label}</th>
                    </tr> 
                    <apex:repeat value="{!IdentifyOpps}" var="FieldKey3"> 
                        <tr> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey3.Account.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputLink value="/{!FieldKey3.Id}" target="_blank">{!FieldKey3.Name}</apex:outputLink></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey3.Type}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey3.StageName}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}" rendered="{!DtFormatType}" > 
                                    <apex:param value="{!FieldKey3.CloseDate}" /> 
                                </apex:outputText> 
                                <apex:outputText Value="{0,date,dd'/'MM'/'yyyy}" rendered="{!DtFormatType1}" > 
                                    <apex:param value="{!FieldKey3.CloseDate}" /> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency}) "> 
                                    <apex:param value="{!FieldKey3.Amount}"/> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey3.Owner.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey3.Owner_s_Sales_team__c}" /></td> 
                        </tr> 
                    </apex:repeat> 
                </table> 
            </apex:pageBlock> 
            
            <apex:pageBlock Title="{!$Label.ACCOUNTPLANNING_Potential_Winbacks}"> 
                <apex:pageMessages escape="false" /> 
                <apex:outputPanel style="color:#4AA02C;font-weight:bold"> 
                    <apex:actionStatus id="searching" startText="{!$Label.Address_Merge_Fetching}" stopText=""/> 
                </apex:outputPanel> 
                <table width="100%" style="margin:10px;"> 
                    <tr class=" headerRow "> 
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:25% !important">{!$Label.ACCOUNTPLANNING_PDF_Account_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:20% !important">{!$Label.ACCOUNTPLANNING_Opportunity_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:8% !important">{!$ObjectType.Opportunity.fields.Type.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:5% !important">{!$ObjectType.Opportunity.fields.StageName.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:15% !important">{!$ObjectType.Opportunity.fields.CloseDate.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_TCV}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_Owner}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$ObjectType.Opportunity.fields.Owner_s_Sales_team__c.label}</th>
                    </tr> 
                    <apex:repeat value="{!WinBackOpps}" var="FieldKey4"> 
                        <tr> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey4.Account.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputLink value="/{!FieldKey4.Id}" target="_blank">{!FieldKey4.Name}</apex:outputLink></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey4.Type}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey4.StageName}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}" rendered="{!DtFormatType}" > 
                                    <apex:param value="{!FieldKey4.CloseDate}" /> 
                                </apex:outputText> 
                                <apex:outputText Value="{0,date,dd'/'MM'/'yyyy}" rendered="{!DtFormatType1}" > 
                                    <apex:param value="{!FieldKey4.CloseDate}" /> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency}) "> 
                                    <apex:param value="{!FieldKey4.Amount}"/> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey4.Owner.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey4.Owner_s_Sales_team__c}" /></td> 
                        </tr> 
                    </apex:repeat> 
                </table> 
            </apex:pageBlock> 
            
            
            <apex:pageBlock Title="{!$Label.ACCOUNTPLANNING_PDF_Closed_Won_Opportunities}">
                <apex:pageMessages escape="false" /> 
                <apex:outputPanel style="color:#4AA02C;font-weight:bold"> 
                    <apex:actionStatus id="searching" startText="{!$Label.Address_Merge_Fetching}" stopText=""/> 
                </apex:outputPanel> 
                <table width="100%" style="margin:10px;"> 
                    <tr class=" headerRow "> 
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:25% !important">{!$Label.ACCOUNTPLANNING_PDF_Account_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:20% !important">{!$Label.ACCOUNTPLANNING_Opportunity_Name}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:8% !important">{!$ObjectType.Opportunity.fields.Type.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:5% !important">{!$ObjectType.Opportunity.fields.StageName.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:15% !important">{!$ObjectType.Opportunity.fields.CloseDate.label}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_TCV}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$Label.ACCOUNTPLANNING_PDF_Owner}</th>
                        <th style="padding-top:5px; padding-left:5px; border:1px solid #e0e3e5; width:18% !important">{!$ObjectType.Opportunity.fields.Owner_s_Sales_team__c.label}</th>
                    </tr> 
                    <apex:repeat value="{!ClosedOpps}" var="FieldKey1"> 
                        <tr> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.Account.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputLink value="/{!FieldKey1.Id}" target="_blank">{!FieldKey1.Name}</apex:outputLink></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.Type}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.StageName}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText Value="{0,date,MM'/'dd'/'yyyy}" rendered="{!DtFormatType}" > 
                                    <apex:param value="{!FieldKey1.CloseDate}" /> 
                                </apex:outputText> 
                                <apex:outputText Value="{0,date,dd'/'MM'/'yyyy}" rendered="{!DtFormatType1}" > 
                                    <apex:param value="{!FieldKey1.CloseDate}" /> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"> 
                                <apex:outputText value="{0, number, 0,000.00} ({!UserCurrency}) "> 
                                    <apex:param value="{!FieldKey1.Amount}"/> 
                                </apex:outputText> 
                            </td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.Owner.Name}" /></td> 
                            <td style="border:5px solid #e0e3e5; width:1% !important"><apex:outputText value="{!FieldKey1.Owner_s_Sales_team__c}" /></td> 
                        </tr> 
                    </apex:repeat> 
                </table> 
            </apex:pageBlock> 
            
        </apex:pageBlock> 
        
    </apex:form> 
    <!--apex:include pageName="AccountPlanPenetration3"/--> 
    <script> 
    
    function boolFunction(variable) 
    { 
        var bool = variable.value; 
        
        if(bool == 'NewRen') 
        { 
            document.getElementById('idSpanRenewal').style.display = 'none'; 
            document.getElementById('idSpanNew').style.display = 'none'; 
            document.getElementById('idSpan').style.display = 'block';
            
            //Added by manoj to rendered the pageblock
            document.getElementById('idLastPrevYrRen').style.display = 'none'; 
            document.getElementById('idLastPrevYrNew').style.display = 'none'; 
            document.getElementById('idLastPrevYr').style.display = 'block';  
        } 
        
        else if(bool == 'New') 
        { 
            document.getElementById('idSpan').style.display = 'none'; 
            document.getElementById('idSpanRenewal').style.display = 'none'; 
            document.getElementById('idSpanNew').style.display = 'block';
            
            //Added by manoj to rendered the pageblock
            document.getElementById('idLastPrevYr').style.display = 'none'; 
            document.getElementById('idLastPrevYrRen').style.display = 'none'; 
            document.getElementById('idLastPrevYrNew').style.display = 'block';
        } 
        
            else if(bool == 'Renewal') 
            { 
                document.getElementById('idSpan').style.display = 'none'; 
                document.getElementById('idSpanNew').style.display = 'none'; 
                document.getElementById('idSpanRenewal').style.display = 'block';
                
                //Added by manoj to rendered the pageblock
                document.getElementById('idLastPrevYr').style.display = 'none'; 
                document.getElementById('idLastPrevYrNew').style.display = 'none'; 
                document.getElementById('idLastPrevYrRen').style.display = 'block'; 
            } 
        
        
    } 
    </script> 
</apex:page>