<!--
/**=====================================================================
 * Experian
 * Name: CommunityChangePassword
 * Description: Global Community Change Password
 * Created Date: May 2016
 * Created By: Will Hemmerick
 * 
 * Date Modified      Modified By           Description of the update
 * 2016-12-07		  Will Hemmerick		Branding 2016 changes
 * =====================================================================*/
 -->



<apex:page id="changePassword" showHeader="true" sidebar="false" controller="ChangePasswordController" title="{!$Label.site.change_password}">
    
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <apex:includeScript Value="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"/>
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"/>   
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    
    <Style>
        nav {
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
}    
        .customheader {
        background-image: url("{!URLFOR($Resource.CommunityResource,'dotted-background-small.png')}") , url("{!URLFOR($Resource.CommunityResource,'hp-heroblue2.jpg')}");
        background-position: left top, right bottom;
        background-size: 100%;
        background-repeat: no-repeat, repeat;
        
        }
        .brandZeronaryBgr{
        background-image: url("{!URLFOR($Resource.CommunityResource,'dotted-background-small.png')}") , url("{!URLFOR($Resource.CommunityResource,'hp-heroblue2.jpg')}");
        background-position: left top, right bottom;
        background-size: 100%;
        background-repeat: no-repeat, repeat;
        opacity: 0.9;
        }
        
        .panelhover:hover {
        background-color: #ee104a;
        }
    </Style>
    
    <div style="font-family: 'Roboto', sans-serif; font-size: 12px;" class="panel panel-default customheader ">
        <div class="panel-body">
            <div class="container">
                <div class="well">
                    <div class="container-fluid">
                        <div style="bottom-margin: 50px;" class="row">
                            <div class="col-sm-2" />
                            <div class="col-sm-8" style="text-align: center; height:80px;" >
                                <h2>Change your password</h2>
                            </div>
                            <div class="col-sm-2" />
                        </div>
                    </div>
                    <div class="row">
                        <apex:outputPanel layout="block" styleClass="col-sm-12">
                            <br/>
                            <apex:form id="theForm" styleClass="form-group">
                                <apex:pageMessages id="error"/>
                                <apex:panelGrid width="50%" html-align="center" border="0" columns="2" >
                                    <apex:outputLabel rendered="{! !$Site.IsPasswordExpired}" value="{!$Label.site.old_password}" for="oldpsw"/>
                                    <apex:inputSecret required="true" id="oldpsw" rendered="{! !$Site.IsPasswordExpired}" value="{!oldPassword}" html-class="form-control"/>
                                    <apex:outputLabel value="{!$Label.site.new_password}" for="psw"/>
                                    <apex:inputSecret required="true" id="psw" value="{!newPassword}" html-class="form-control"/>
                                    <apex:outputLabel value="{!$Label.site.verify_new_password}" for="vpsw"/>
                                    <apex:inputSecret required="true" id="vpsw" value="{!verifyNewPassword}" html-class="form-control"/>
                                    <apex:outputText value=""/>
                                    <apex:commandButton id="cpwbtn" action="{!changePassword}" value="{!$Label.site.change_password}" styleClass="btn-default btn-lg btn-block text-center"/>
                                </apex:panelGrid> 
                            </apex:form>                  
                            <br/>
                        </apex:outputPanel>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</apex:page>