<apex:page sidebar="false">
<apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<apex:includeScript Value="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"/>
<apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"/>  
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'/>


<Style>
  .customheader {
     background-image: url("{!URLFOR($Resource.CommunityResource,'dotted-background-small.png')}") , url("{!URLFOR($Resource.CommunityResource,'hp-heroblue2.jpg')}");
    background-position: left top, right bottom;
    background-size: 100%;
    background-repeat: no-repeat, repeat;
    
}
.brandZeronaryBgr{
    background-image: url("{!URLFOR($Resource.CommunityResource,'dotted-background-small.png')}") , url("{!URLFOR($Resource.CommunityResource,'hp-heroblue2.jpg')}");
    background-position: left top, right bottom;
    background-size: 100%;
    background-repeat: no-repeat, repeat;
    opacity: 0.9;
}

</Style>

<div class="panel panel-default customheader ">
    <div class="panel-body">
        <div class="container">
            <div class="well">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1" />
                        <div class="col-sm-10" style="text-align: center" >
                            <h2 style="text-align: center; font-family: 'Open Sans', sans-serif;">
                                Experian Product Knowledge Base
                            </h2><br/><br/><br/>
                        </div>
                        <div class="col-sm-1" />
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            
                             <select class="form-control" name="Business">
                                <option selected="true" value="All">All Categories</option>
                                <knowledge:categoryList categoryVar="bcat" categoryGroup="Business" rootCategory="All" level="-1">
                                <option value="{!bcat.name}">&nbsp;{!bcat.label}</option>
                                </knowledge:categoryList>
                            </select>  
                            
                        </div>
                        <div class="col-sm-4" >                           
                            <select class="form-control" name="Region">
                                <option selected="true" value="All">All Regions</option>
                                <knowledge:categoryList categoryVar="category" categoryGroup="Region" rootCategory="All" level="-1">
                                <option value="{!category.name}">&nbsp;{!category.label}</option>
                                </knowledge:categoryList>
                            </select>
                        </div>
                        <div class="col-sm-4" >
                            <select class="form-control" name="ArticleType"> 
                                <option selected="true" value="">All Types</option>
                                <knowledge:articleTypeList articleTypeVar="articleType">
                                <option value="{!articleType.Name}">&nbsp;{!articleType.Label}</option>
                                </knowledge:articleTypeList>    
                            </select>   
                        </div>
                    </div>
                    <div class="row">
                        <div style="font-family: 'Open Sans', sans-serif;" class="col-sm-12" >
                            <apex:outputPanel layout="block">
                                 <apex:pageBlock id="alistblock" >
                              
                                      <knowledge:articleList id="alist" articleVar="article"
                                        articleTypes=""
                               
                                        sortBy="lastUpdated"
                                        pageSize="20"
                                                           
                                    >
                            
                                         <apex:repeat value="{!article}" var="art">
                                             <hr/>
                                             <h4><a href="{!URLFOR($Action.KnowledgeArticle.View, art.id)}">{!art.title}</a></h4><br/>
                                             <small>({!art.articleTypeLabel})&nbsp;{!art.summary}</small>
                                            </apex:repeat> 
                                        </knowledge:articleList>
                                        
                                    
                                     </apex:pageBlock>
                            </apex:outputPanel>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
                            
</apex:page>