<!-- 
/**=====================================================================
 * Experian
 * Name: DeploymentRequestClone
 * Description: 
 * Created Date: 25 Feb 2016
 * Created By: Paul Kissick (Experian)
 * 
 * Date Modified                Modified By                  Description of the update
 =====================================================================*/
 -->
<apex:page standardController="Deployment_Request__c" extensions="DeploymentRequestCloneExt" action="{!doClone}">
  <apex:pageMessages />
</apex:page>