<apex:page controller="echosign_dev1.ManageAgreementsController" title="Manage Agreements" action="{!onInit}">
	<!-- <apex:includeScript value="{!$Resource.walkmeimpt}"/> -->
	
	<apex:pagemessages id="theMessages"/>
	
    <iframe src="{!manageAgreementsUrl}" width="100%" height="1050px" frameborder="0" />
</apex:page>