<apex:page controller="EmployeeCommunity_Home_Cntrl" showHeader="false" standardStylesheets="true" sidebar="false" docType="html-5.0">
<!--
/**=====================================================================
 * Name: EmployeeCommunity_EGSO_Home
 * Description: This is the Home page for the EGSO Employee Community
 *              
 * Created Date: Aug 10th 2017
 * Created By: Manish Singh
 *
 * Date Modified         Modified By           Description of the update
 * 
 *
 * =====================================================================*/
-->

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 


  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
  
        
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>
  


<style>
    .sub-banner{text-align:botton;color:#982881;font-size:16px}
    .sub-banner p {text-align:botton;color:#982881;font-size:16px}
        td div
        {         
            height: 100%; 
            font-size: 15px;        
        }
        td.a div
        {
            background-color: #982881;            
            color: white;   
            font-size:15px;
        }     
        td.a .expcommunity__col_title
        {
            font-size: 25px;             
            color: white;
            font-weight: inherit;
        }
        
        td.b div
        {
            background-color: #f7f7f7;   
            color: grey;                                 
        }
        td.b .expcommunity__col_title
        {
            font-size: 20px; 
            text-align:center; 
            color: grey;
            font-weight: inherit;
        }
        td.c div
        {
            background-color: white;  
            color: grey           
        } 
        td.d div
        {
            background-color: #406eb3;
            color: white;                                                                     
        }
        td.e div
        {
            background-color: #982881; 
            color: white;                                                         
        }
        td.d .expcommunity__col_title
        {
            font-size: 20px; 
            text-align:center; 
            color: white;
            font-weight: bold;
        }  
        
        td.e .expcommunity__col_title
        {
            font-size: 30px; 
            text-align:center; 
            color: white;
            font-weight: inherit;
        }  
        td.c .expcommunity__col_title
        {
            font-size: 20px; 
            text-align:center; 
            color: grey;
            font-weight: inherit;
        }     
        .expcommunity__container
        {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }   
        td.b .custPopup
        {
            color: black;
            background-color: white;
            font-size: 15px;
            overflow: auto;
            position: absolute;
            top: 20%;
        }
        td.c .custPopup
        {
            color: black;
            background-color: white;
            overflow: auto;
            position: absolute;
            top: 20%;
        }   
        td.tg-4r3c .custPopup
        {
            color: black;
            background-color: white;
            overflow: auto;
            position: absolute; 
            top: 170%;         
        }
        td.tg-l77e .custPopup
        {
            color: black;
            background-color: white;
            overflow: auto;
            position: absolute; 
            top: 180%;         
        }
        .custPopup
        {
            font-size: 15px; 
            color: black;
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 40%;           
            padding:20px;
            position: fixed;
            /* These are the 3 css properties you will need to change so the popup 
            displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can add 
            the height property for a fixed size pop up if you want.*/
            width: 50%;
            margin-left: -250px;
            top:100px;
            height: auto;
            overflow: auto;
        }
        .popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 1000%;
            top: 0;
            left: 0;
            z-index: 9998;
            overflow: auto;
            
        }
        .content-block_expect
        {
            margin: 2%;
        }     
        .d{
        margin: 2px;
         }
         .e{
        margin: 2px;
         }
         .paddingBetweenCols td
        {
            padding:0 15px 0 15px;
        }
        
        .tg  {border-collapse:collapse;border-spacing:0; width:80%; margin: 0px auto;}
        .tg td{font-size:14px;padding:10px 10px;overflow:hidden;word-break:normal;}
        .tg th{font-size:14px;font-weight:normal;padding:10px 10px; overflow:hidden;word-break:normal;}
        .tg .tg-gh8k{background-color:#00abaa;color:#ffffff;text-align:center;vertical-align:middle}
        .tg .tg-4r3c{background-color:#00abaa;color:#ffffff;vertical-align:middle}
        .tg .tg-rt4d{font-size:15px;background-color:#00abaa;color:#ffffff;text-align:center;vertical-align:top; border-bottom:solid white;width:40%;}
        .tg .tg-3we0{background-color:#ffffff;vertical-align:top}
        .tg .tg-iyrz{font-size:15px;background-color:#00abaa;color:#ffffff;text-align:center;vertical-align:top; border-bottom:solid white;width:40%;}
        .tg .tg-sd3u{background-color:#00abaa;color:#ffffff;text-align:center;vertical-align:middle}
        .tg .tg-l77e{background-color:#00abaa;color:#ffffff;vertical-align:middle}
</style>
</head>
<body class="slds-m-top--none">

  <div class="experianSLDS">
      
      <div class="wrapper slds-size--1-of-1">
          
         <apex:composition template="expcomm_newTemplate">
            <!--<apex:define name="item1">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Home" class="slds-text-heading--small">EGSO Home</a></li>
            </apex:define>-->
            
            <apex:define name="item2">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                   <a target="_blank" href="http://zoomglobal/departments/GlobalSecurityOffice/SitePages/SecurityAwareness.aspx" class="slds-text-heading--small">Security Awareness</a></li>
               <!-- RJ Updated with Summer 17 <a href="{!$Site.Prefix}/_ui/core/chatter/groups/GroupProfilePage?g=0F90H000000UKYa" class="slds-text-heading--small">Chatter</a></li> -->
            </apex:define>
            
            <apex:define name="item3">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                    <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true">
                        <!--<button class="slds-button " aria-haspopup="true">   -->                  
                         <a href="#" class="slds-text-heading--small">EGSO Reference Documents</a>                 
                          <!--</button>-->
                        <div class="slds-dropdown slds-dropdown--right slds-nubbin--top-left" >
                          <ul class="dropdown__list" style="width:160px" role="menu">
                            <li class="slds-dropdown__item">
                              <a target="_blank" href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_GlobalSecPolicies?doctype=1" role="menuitem">
                                <p class="slds-truncate">Security Policies and <br></br> Standards</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a target="_blank" href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_GlobalSecPolicies?doctype=2" role="menuitem">
                                <p class="slds-truncate">Security User Guides</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a target="_blank" href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_GlobalSecPolicies?doctype=3" role="menuitem">
                                <p class="slds-truncate">Additional Security<br></br> Guides</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a target="_blank" href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_GlobalSecPolicies?doctype=4" role="menuitem">
                                <p class="slds-truncate">Technical Security<br></br> Baselines</p>
                              </a>
                            </li>
                          </ul>
                        </div>
                     </div>  
                </li>
            </apex:define>
            
            <apex:define name="item4">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                    <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="true">
                        <!--<button class="slds-button " aria-haspopup="true">   -->                  
                         <a href="#" class="slds-text-heading--small">EGSO Services</a>                 
                          <!--</button>-->
                        <div class="slds-dropdown slds-dropdown--right slds-nubbin--top-right" >
                          <ul class="dropdown__list" style="width:160px" role="menu">
                             <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Home" role="menuitem">
                                <p class="slds-truncate">GSOC Threat<br/>(In development)</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services" role="menuitem">
                                <p class="slds-truncate">Security Standards<br></br>Compliance (PCI, ISO,<br></br>  SOC2, HIPAA) <br/>(In development)</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=6" role="menuitem">
                                <p class="slds-truncate">Security Assessments</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=7" role="menuitem">
                                <p class="slds-truncate">Project Security <br></br> Assessments</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=8" role="menuitem">
                                <p class="slds-truncate">Third Party Security</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=9" role="menuitem">
                                <p class="slds-truncate">Issue and Exception<br></br>Management</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=10" role="menuitem">
                                <p class="slds-truncate">Proposal to Use <br></br> Production Data</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=11" role="menuitem">
                                <p class="slds-truncate">Pre-Acquisition Security<br></br>  Due Diligence</p>
                              </a>
                            </li>
                            <li class="slds-dropdown__item">
                              <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Services?doctype=12" role="menuitem">
                                <p class="slds-truncate">Post-Acquisition <br></br> Security Assessment</p>
                              </a>
                            </li>
                          </ul>
                        </div>
                     </div>  
                </li>
            </apex:define>
            
            <apex:define name="item5">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                   <!--<a target="_blank" href="https://experian.my.salesforce.com/_ui/core/chatter/topics/TopicPage?name=Securityfirst&ref=hash_mention" class="slds-text-heading--small">Chatter</a></li>-->
                   <a target="_blank" href="https://experian.my.salesforce.com/_ui/core/chatter/groups/GroupProfilePage?g=0F90H0000000rCb" class="slds-text-heading--small">Chatter</a></li>
               <!-- RJ Updated with Summer 17 <a href="{!$Site.Prefix}/_ui/core/chatter/groups/GroupProfilePage?g=0F90H000000UKYa" class="slds-text-heading--small">Chatter</a></li> -->
            </apex:define>
            
            <apex:define name="item6">
                <li class="menu-item slds-float--left slds-p-around--small slds-m-right--small slds-m-left--none slds-has-list-interactions">
                <a href="{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_Home" class="slds-text-heading--small">FAQs (In development)</a></li>
            </apex:define>
        </apex:composition>
    
        <div id="top" class="right-wrapper  slds-small-size--2-of-3 slds-medium-size--3-of-5 slds-large-size--5-of-6 slds-float--right is-shrink">
        
            <div class="content-block">
                <c:expcommunity_banner_cmpt background="{!URLFOR($Resource.EGSO_Resource, 'Banner.png')}" title="EGSO" top_subtitle="Experian Global Security Office" bottom_subtitle="Safeguard our Future"/>
                <!--<c:expcommunity_banner_cmpt background="{!URLFOR($Resource.EGSO_Resource, 'BannerGrey.jpg')}" title="EGSO" top_subtitle="Experian Global Security Office" bottom_subtitle="Safeguard our Future"/>-->

                <table align="center" >
                <tr>
                    <td width="33.3%" height="100%" class="a" rowspan="2"><div>
                        <div style="padding-top:5%; padding-left:10%; padding-right:10%;padding-bottom:5%;">
                         <br/>
                         <span style="font-family: 'Roboto', sans-serif;" >Security is everyone’s responsibility. Wherever you work, whatever your job is, 
                         you have an important role to play in keeping data safe and secure. From the moment, you come into work, when you log-in, to the safe-keeping of documents, 
                         to the use of devices and to the physical integrity of our buildings and systems.
                         Security should be the first and last thing we think of.
                         </span> <br/><br/>
                         <span style="font-style: italic;font-family: 'Roboto', sans-serif;">Tom King, Chief Information Security Office</span><br/><br/>
                         <span style="font-family: 'Roboto', sans-serif;" >EGSO VISION</span> <br/><br/>
                         <span style="font-family: 'Roboto', sans-serif;" ><b>Enable</b> Experian to protect, connect and create its business in a <b>secure and resilient manner</b>.</span> <br/><br/>
                         <span style="font-family: 'Roboto', sans-serif;" >EGSO MISSION</span> <br/><br/>
                         <span style="font-family: 'Roboto', sans-serif;" ><b>Create</b> a competitive advantage for the delivery of Experian products and services in a secure and resilient manner that achieves 
                            continued growth <b>while protecting employees,  profitabilty and clients</b>.</span> 
                         <br/>                   
                           </div>
                        </div>
                         
                    </td>
                    
                    <td height="50%" class="b"><div>
                        <div style="padding:5%">
                            <span class="expcommunity__col_title" >{!allEgsoArticles[0].Headline__c}</span> <br/>
                            <span style="font-family: 'Roboto', sans-serif;" >{!allEgsoArticles[0].Synopsis__c}</span> 
                        <!--<c:expcommunity_Col_cmpt text_body="{!allEgsoArticles[0].Synopsis__c}"/>-->
                        <apex:form >
                            <br/>
                            <apex:commandButton style="width:auto;border: 1px solid #982881;background:#982881;border-radius: 0px; padding:10px;font-weight: bold; color:#f7f7f7; font-size:10px"   styleClass="news--btn" value="LEARN MORE" onclick="window.open('{!$Site.Prefix}/apex/EmployeeCommunity_NewsDetail_Page?id={!allEgsoArticles[0].ID}','_blank')"/>
                     
                        </apex:form>
                      </div>  
                      </div>    
                    </td>
                      
                      <td height="50%" class="d"  width="33.3%">
                          <div>
                            <div style="padding-top:5%; padding-left:10%; padding-right:10%;padding-bottom:5%;">
                                <span class="expcommunity__col_title" >How to report an incident</span><br/><br/>
                                <span style="font-family: 'Roboto', sans-serif;">An incident can be anything from a suspicious email to an 
                                    actual breach or physical threat. 
                                    Use this link to bring attention to any security concern you may have.
                                </span>
                                <apex:form >
                                    <br/>
                                    <apex:commandButton style="width:auto;border: 1px solid #982881;background:#982881;border-radius: 0px; padding:10px;font-weight: bold; color:#f7f7f7; font-size:10px"   styleClass="news--btn" value="REPORT AN INCIDENT" onclick="window.open('http://zoomglobal/departments/GlobalSecurityOffice/csit/SitePages/ir-landingpage.aspx','_blank')"/>                  
                                </apex:form>
                              <br/>                   
                            </div>
                          </div>
                      </td>
                    </tr>
                <tr>
                    <td height="50%" class="c"><div>
                        <div style="padding:5%">
                        <span class="expcommunity__col_title" >{!allEgsoArticles[1].Headline__c}</span> <br/>
                            <span style="font-family: 'Roboto', sans-serif;" >{!allEgsoArticles[1].Synopsis__c}</span> 
                        <!--<c:expcommunity_Col_cmpt text_body="{!allEgsoArticles[0].Synopsis__c}"/>-->
                        <apex:form >
                            <br/>
                            <apex:commandButton style="width:auto;border: 1px solid #982881;background:#982881;border-radius: 0px; padding:10px;font-weight: bold; color:#f7f7f7; font-size:10px" styleClass="news--btn" value="LEARN MORE" onclick="window.open('{!$Site.Prefix}/apex/EmployeeCommunity_NewsDetail_Page?id={!allEgsoArticles[1].ID}','_blank')"/>                  
                            <div align="right" draggable="false">
                                <apex:commandButton style="width:auto;border: 1px solid #982881;background:#982881;border-radius: 0px; padding:10px;font-weight: bold; color:#f7f7f7; font-size:12px" styleClass="news--btn" value="More news.." onclick="window.open('{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_AllNews','_blank')"/>
                            </div>
                        </apex:form>
                     </div> 
                     </div>  
                 </td>
                 
                 <td height="50%" class="d" width="33.3%">
                          <div>
                            <div style="padding-top:5%; padding-left:10%; padding-right:10%;padding-bottom:5%;">
                                <span class="expcommunity__col_title" >About us</span><br/><br/>
                                <span>Learn more about EGSO and our services
                                </span>
                                <apex:form >
                                    <br/>
                                    <table>
                                      <col width="140"/>
                                      <col width="150"/>
                                      <col width="150"/>
                                      <tr>
                                        <th><apex:commandButton style="width:auto;border: 1px solid #982881;background:#982881;border-radius: 0px; padding:10px;font-weight: bold; color:#f7f7f7; font-size:10px" styleClass="news--btn" value="CONTACT US" action="{!showPopup}" rerender="tstpopup"/> </th>
                                        <th><apex:commandButton style="width:auto;border: 1px solid #982881;background:#982881;border-radius: 0px; padding:10px;font-weight: bold; color:#f7f7f7; font-size:10px" styleClass="news--btn" value="EGSO SERVICES" onclick="window.open('/servlet/servlet.FileDownload?file={!docForHomePage[0].ID}')"/> </th>
                                        <th><apex:commandButton style="width:auto;border: 1px solid #982881;background:#982881;border-radius: 0px; padding:10px;font-weight: bold; color:#f7f7f7; font-size:10px" styleClass="news--btn" value="ORG CHART" onclick="window.open('{!$Site.Prefix}/apex/EmployeeCommunity_EGSO_OrgChart','_blank')"/> </th>
                                      </tr>
                                    </table>
                                    
                                <apex:outputPanel id="tstpopup">
                                <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
                                <apex:outputPanel style="background:white;" styleClass="custPopup" layout="block" rendered="{!displayPopUp}">
                                    
                                <div style="background:white;color:black;" align="center">
                                    <b>UK&amp;I and EMEA</b> 
                                    <br/>Tel: +44 (0) 115 82 86178 
                                    <br/>Tel internal: 42 86178​ 
                                    <br/>Email: <a href="mailto: InformationSecurity.Office@uk.experian.com" target="_top"> InformationSecurity.Office@uk.experian.com </a>
                                    
                                    <br/><br/><b>Latin America</b>  ​ 
                                    <br/>Tel: 55 11 2847-8883 ​ 
                                    <br/>Email: <a href="mailto: gsi@br.experian.com" target="_top"> gsi@br.experian.com</a>
                                    
                                    
                                    <br/><br/><b>North America</b>  ​ 
                                    <br/>Email: <a href="mailto: GlobalSecurityOffice@experian.com" target="_top"> GlobalSecurityOffice@experian.com</a>
                                     
                                    <br/><br/><b>Asia Pacific</b>  
                                    <br/>Tel: +44 (0) 115 82 86178 ​ 
                                    <br/>Email: <a href="mailto: infosec@ap.experian.com" target="_top"> infosec@ap.experian.com</a><br/><br/>
                                    
                                    <span style="font-size:18px;">Know your <b>RISO</b> (Regional Information Security Officers)</span> <br/>
                                    The Regional Information Security Officer (RISO) is directly responsible for delivering Experian’s core security practices.  
                                    <br/>Please see the table below for the RISO assigned to each region.<br/><br/>
                                    
                                    <table class="tg">
                                      <tr>
                                        <th class="tg-s6z2">NORTH AMERICA</th>
                                        <th class="tg-s6z2">​UK &amp; I</th>
                                        <th class="tg-baqh">EMEA</th>
                                        <th class="tg-baqh">APAC</th>
                                        <th class="tg-baqh">LATAM</th>
                                      </tr>
                                      <tr>
                                        <td class="tg-baqh">​John Kelly</td>
                                        <td class="tg-baqh">Neil Boulter</td>
                                        <td class="tg-baqh">​Kevin Walker</td>
                                        <td class="tg-baqh">​Azra Rizal</td>
                                        <td class="tg-baqh">​Ramiro Rodrigues</td>
                                      </tr>
                                    </table>
                                    
                                    </div>
                                    <br/><div style="text-align: center;background:white;padding:2px;">
                                    <apex:commandButton style="border: 2px solid black;background:white; color:black; font-size:15px;" value="Close" action="{!closePopup}" rerender="tstpopup"/>
                                    </div>
                                </apex:outputPanel>
                            </apex:outputPanel>
                                </apex:form>
                              <br/>                   
                            </div>
                          </div>
                </td>
                 
                </tr>
                
                    
            </table> 
            
            <br/><br/>
        <style>
        #parent {
            width: 100%;
            margin: auto;
        }
        
        .image {
            display: inline-block;
            width: 260px;
        }
        </style>
        <div  align="middle" draggable="false" id="parent">
        <div class="image">                 
            <apex:image url="{!URLFOR($Resource.EGSO_Resource, 'ApplicationSecurity.jpg')}" height="150" width="150"/>      
        </div>          
        
        <div class="image">            
            <apex:image url="{!URLFOR($Resource.EGSO_Resource, 'BISS.jpg')}" height="150" width="150"/> 
        </div>
        
        <div class="image">            
            <apex:image url="{!URLFOR($Resource.EGSO_Resource, 'CyberIncidentResponseTeam.jpg')}" height="150" width="150"/> 
        </div>
        
        <div class="image">            
            <apex:image url="{!URLFOR($Resource.EGSO_Resource, 'EngineeringandInnovation.jpg')}" height="150" width="150"/> 
        </div>      
        
        <div class="image">
            <apex:image url="{!URLFOR($Resource.EGSO_Resource, 'GSOC.jpg')}" height="150" width="150"/> 
        </div>
        
        <div class="image">
            <apex:image url="{!URLFOR($Resource.EGSO_Resource, 'GovernanceandSecurity.jpg')}" height="150" width="150"/> 
        </div>
        
        <div class="image">
            <apex:image url="{!URLFOR($Resource.EGSO_Resource, 'IdentityandAccessManagement.jpg')}" height="150" width="150"/> 
        </div>
        
        <div style="clear:both"></div>
        </div>        
                
                <c:expcomm_subchatter_cmpt group="{!EGSOChatterGroupID}"/>
                
                <!--<c:expcommunity_quote_cmpt application="EGSO"/>-->
                
                <!--<c:expcommunity_twoCol_cmpt img_src="{!URLFOR($Resource.EGSO_Resource, 'Howtoreportanincident.png')}" title="How to report an incident" text_body="An incident can be anything from a suspicious email to an actual breach or physical threat. Use this link to bring attention to any security concern you may have." button_label="Click here" button_src="http://zoomglobal/departments/GlobalSecurityOffice/csit/SitePages/ir-landingpage.aspx"/>
                
                <c:expcommunity_twoCol_cmpt img_src="{!URLFOR($Resource.EGSO_Resource, 'Howtocontactus.png')}" title="How to contact us" text_body="GSO regional contact information"/>-->
                
                
                
                <!--<apex:form >
                    <div style="background-color: #00abaa; width: 100%">
                        <div style="color: white; text-align:center;font-size: 30px;">
                            <h1>Stay updated</h1>
                        </div>        
                    </div>           
                </apex:form> 
                
                <c:expcommunity_NewsSlider_cmpt application="EGSO"/>-->
                
                <!--<apex:form >
                    <div style="background-color: #982881; width: 100%">
                        <div style="color: white; text-align:center;font-size: 30px;">
                            <h1>Organization chart</h1>
                        </div>        
                    </div>           
                </apex:form>
                
                <c:expcommunity_oneImage_cmpt img_src="{!URLFOR($Resource.EGSO_Resource, 'EGSOOrgChart.png')}"/>-->
                
            </div>
            
        </div>
      
      </div>
      
  </div>
  
</body>
</html>
</apex:page>