<apex:page controller="EmployeeCommunity_Home_Cntrl" showHeader="false" standardStylesheets="false" sidebar="false" docType="html-5.0">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Employee Community</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/> 
  <apex:includeScript id="a" value="https://www.google.com/jsapi" />
 

  <apex:stylesheet value="{!URLFOR($Resource.SLDS214, 'assets/styles/salesforce-lightning-design-system.min.css')}" />
   <apex:stylesheet value="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'css/community_mainstyles.css')}" />
  
        
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/community_script.js')}"></script>
  <script src="{!URLFOR($Resource.EmployeeCommunity_MainRes_2017, 'script/svg4everybody.js')}"></script>  
  <script>svg4everybody();</script>


        
</head>
<style>
#banner {
        padding: 9em 0 7em 0 ;
        background-color: #423e3a;
        background-image:url('{!URLFOR($Resource.GEARR_Res1, '/images1/gearrProcessV8.png')}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #cfcecd;
    }
    
    #banner a{
        color:#005fb2;
    }

ul.dropdown__list {
    width:150px;
  }
  
  .experianSLDS ul.dropdown__list li a{
    color:#a11881;
    font-size:1.15em;
  }
  
  .experianSLDS ul.dropdown__list li a:hover{
    color:#a11881;
  }
  
  .content-block{
    font-size:12px;
  }
  
  .banner__message {
    margin:0px;
    padding:0px;
  }
</style>

<body class="slds-m-top--none">

 <!-- REQUIRED SLDS WRAPPER -->
  <div class="experianSLDS">

    <!-- Wrapper -->
<div class="wrapper slds-size--1-of-1">
<!--Template-->
    <apex:composition template="expcomm_newTemplate">
       
    </apex:composition>
    <!--Template-->
    
    <!-- Content Wrapper -->
    <div id="top" class="right-wrapper  slds-small-size--1-of-1 slds-medium-size--1-of-1 slds-large-size--1-of-1">
    
        
        <div class="content-block">
        
        <!--<div class="banner slds-size--1-of-1" id="myimage">-->
        <!-- Banner -->
                    <section id="banner">
                        <div class="container">
                            <header>
                                <p class ="banner__message" style="text-align:center">For questions or comments, please contact:
                                <br/><a href="mailto:ExperianITServicesinternalcomms@experian.com">ExperianITServicesinternalcomms@experian.com</a></p>                                 
                            </header>
                            <BR/>
                            <BR/>
                            <BR/>
                            <BR/>
                            <BR/>
                            <BR/>
                            <BR/>
                            <BR/>
                        </div>
                    </section>
               
            <!--</div>-->
            
            </div>
            
             </div>
             <!-- Footer -->
           
            
            <!--Footer - Template-->
            <apex:composition template="Community_template_footer"></apex:composition>
            
            
        
        
   
</div>


  </div>        <!--Experian-scope-->
 

</body>
</html>
</apex:page>