<apex:page standardController="APXT_BPM__Conductor__c" extensions="seismic.PredictiveContentV2PageController" action="{!Init}" docType="html-5.0" applyHtmlTag="false" applyBodyTag="false" showHeader="false" sidebar="false" standardStylesheets="false" html-style="height:100%; width:100%;">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Seismic Content Viewer</title>
	
	<style type="text/css">
		BODY, HTML, IFRAME { width: 100%; height: 100%; margin: 0; padding: 0; }
	</style>
</head>
<body>
    <iframe src="{!SeismicPredictiveContentHandlerUrl}&" frameborder="no" width="100%" height="100%" marginwidth="0" marginheight="0" scrolling="no"></iframe>
	
	<script type="text/javascript">
		if (pageInfo == undefined || pageInfo == null) {
			var pageInfo = {};
		}
		
		pageInfo.objectType = 'APXT_BPM__Conductor__c';
		pageInfo.objectId = '{!APXT_BPM__Conductor__c.Id}';
		pageInfo.objectLastModifiedDate = '{!APXT_BPM__Conductor__c.LastModifiedDate}';
		pageInfo.objectSystemModstamp = '{!APXT_BPM__Conductor__c.SystemModstamp}';
		pageInfo.buttonName = 'Recommended_product_information';
		pageInfo.docViewerUrl = '{!$Page.seismic__SeismicDocViewer}';
	</script>
</body>
</apex:page>