<!--
/**=====================================================================
 * Name: AccountPlanPDFCompetitors
 * Description: 
 * Created Date: Jan. 25th, 2016
 * Created By: James Wills
 * 
 * Date Modified         Modified By            Description of the update
 * Jan. 25th, 2017       James Wills            Created.
 * Feb. 8th, 2017        James Wills            Case:02194059 Changed Custom labels to Field labels.
 * =====================================================================*/
-->
<apex:component controller="AccountPlanPDFComponentsController">

      <!-- Competition Section on PDF -->
      <table class="table-bordered" style="width:94%;border-spacing: 0 !important;">
      <tr><td colspan="6" style="padding-left:0px !important;"> <div class="title"> {!$Label.ACCOUNTPLANNING_PDF_Competition}</div></td></tr>
         <tr>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Competitor__c.Label}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$Label.ACCOUNTPLANNING_PDF_Our} {!$Label.ACCOUNTPLANNING_PDF_Advantage}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$Label.ACCOUNTPLANNING_PDF_Their} {!$Label.ACCOUNTPLANNING_PDF_Advantage}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Account_Plan_Competitor__c.fields.Client_History_with_Competitor__c.label}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Account_Plan_Competitor__c.fields.Areas_competing_against_Experian__c.label}
            </td>
            <td width="200px" style="font-size: 13px; font-weight: bold;padding-left : 10px;">{!$ObjectType.Account_Plan_Competitor__c.fields.Additional_Information__c.label}
            </td>
         </tr>
         <apex:repeat value="{!competitorsList}" var="compList">
            <tr>
               <td width="200px" style = "padding-left : 10px;">{!compList.Competitor__r.name}</td>
               <td width="200px" style = "padding-left : 10px;">
                  <apex:outputPanel rendered="{!compList.Exp_Adv_1__c != null}" >{!compList.Exp_Adv_1__c}<br /> </apex:outputPanel>
                  <apex:outputPanel rendered="{!compList.Exp_Adv_2__c != null}" >{!compList.Exp_Adv_2__c}<br /> </apex:outputPanel>
                  <apex:outputPanel rendered="{!compList.Exp_Adv_3__c != null}" >{!compList.Exp_Adv_3__c}<br /> </apex:outputPanel>                  
                  <apex:outputPanel rendered="{!compList.Exp_Adv_4__c != null}" >{!compList.Exp_Adv_4__c}<br /> </apex:outputPanel>                  
                  <apex:outputPanel rendered="{!compList.Exp_Adv_5__c != null}" >{!compList.Exp_Adv_5__c}<br /> </apex:outputPanel>
               </td>
               <td width="200px" style = "padding-left : 10px;">
                  <apex:outputPanel rendered="{!compList.Comp_Adv_1__c != null}" >{!compList.Comp_Adv_1__c}<br /> </apex:outputPanel>
                  <apex:outputPanel rendered="{!compList.Comp_Adv_2__c != null}" >{!compList.Comp_Adv_2__c}<br /> </apex:outputPanel>
                  <apex:outputPanel rendered="{!compList.Comp_Adv_3__c != null}" >{!compList.Comp_Adv_3__c}<br /> </apex:outputPanel>                  
                  <apex:outputPanel rendered="{!compList.Comp_Adv_4__c != null}" >{!compList.Comp_Adv_4__c}<br /> </apex:outputPanel>                  
                  <apex:outputPanel rendered="{!compList.Comp_Adv_5__c != null}" >{!compList.Comp_Adv_5__c}<br /> </apex:outputPanel>
               </td>
               <td width="200px" style = "padding-left : 10px;"><apex:outputfield value="{!compList.Client_History_with_Competitor__c}" /></td>
               <td width="200px" style = "padding-left : 10px;"><apex:outputfield value="{!compList.Areas_competing_against_Experian__c}" /></td>
               <td width="200px" style = "padding-left : 10px;"><apex:outputfield value="{!compList.Additional_Information__c}" /></td>
            </tr>
         </apex:repeat>
      </table>      
      <br />
      <br />
      
      <div class="page-break" />
      
</apex:component>