<!-- 
Component -  expcommunity_searchImg_cmpt
Author -      Hay Mun Win
Description - component with search box and big image on employee community homepage-->

<apex:component >

<apex:attribute name="imgURL" description="background image attribute" type="String" required="true"/>

<style>
.expbanner_container {
        /*background-image: url( '../resource/1478100008000/EmployeeCommunity_MainRes/images/Morning1.png');*/
        background-image: url({!imgURL});
        background-color:#423e3a;
        background-position:center center;
        background-repeat:no-repeat;
        background-size:cover;
        position:relative;
    }
</style>

  <script>
      /* img banner height resize*/
      var img_height= jQuery( window ).height() -56;
     
     jQuery( document ).ready(function() {          
          jQuery( "#expbanner_container " ).height(img_height);          
        });
  </script>

    <div id="expbanner_container" class="expbanner_container slds-size--1-of-1" >
        <div class="expbanner_search_wrapper">
          <div class="expbanner_search"><c:ExpComm_SearchArticlesCmp /></div>
        </div>
          
          
          <div id="expbanner_scroll" class="expbanner_scroll" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
         <a href="#expbanner_scroll">
         <span class="slds-icon_container slds-icon-utility-user dark-block" title="Link">
          <svg aria-hidden="true" class="slds-icon slds-icon--large white-block__icon">
            <use xlink:href="{!URLFOR($Resource.SLDS203,'assets/icons/utility-sprite/svg/symbols.svg#chevrondown')}"></use>
          </svg>
          <span class="slds-assistive-text">Scroll</span>
          </span>
          </a>
     </div>
     
     
     </div>
     
<!--     <div id="test" class="slds-size--1-of-1">
         <img src="{!imgURL}"/>
     </div>-->
     
</apex:component>