<!-- 
Component -  ExpComm_FeaturedKnowledgeArticleCmp
Author -      Hay Mun Win
Description - Featured articles on employee homepage-->


<apex:component controller="ExpComm_FeaturedArticlesCmpController">
    

    <script type="text/javascript">
        function fac_openArticleDetailPage(idStr, urlNameStr) {

            var commu_prefix = "{!$Site.Prefix}";
            if (commu_prefix == undefined || commu_prefix == '') {
                commu_prefix = '/apex';
            }
            window.open(location.protocol + "//" + location.host + commu_prefix + "/ExpComm_KnowledgeArticleDetailPage?id=" + idStr + '&urlName=' + urlNameStr, "_self");
        }
    </script>

    <div class="fac-trending-articles">

        <div class="fac-block-title">Trending Articles</div>

        <knowledge:articleList articleVar="article"
            categories="Experian_Internal:All"
            articleTypes="Employee_Article__kav"
            sortBy="mostViewed"
            pageSize="5"
            hasMoreVar="moreArticle"
            language="{!userLanguage}"
        >
            <div class="fac-list-item"><a class="fac-articleLink" onclick="fac_openArticleDetailPage('{!article.Id}', '{!article.urlName}')">{!article.title}</a></div>
        </knowledge:articleList>
    </div>
</apex:component>