.THIS {
}

.THIS .expcase_reopen, .THIS .expcase_reopen:visited {
    background-color:rgb(38, 71, 141);
    color:#ffffff;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
}


.THIS .expcase_reopen:hover, .THIS .expcase_reopen:active, .THIS .expcase_reopen:focus{
    background-color:#1b3365;
}