.THIS .esign-box-noborder {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
}

.THIS .esign-selected-step {
    color: #1473E6;
}

.THIS .esign-incomplete-step {
    color: #999999;
}

.THIS .esign-complete-step {
    color: #999999;
}

.THIS .esign-first-step {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.THIS .esign-last-step {
	width: 15px;
    height: 15px;
    margin-left: 5px;
}

.THIS .esign-middle-step {
	width: 150px;
}

.THIS .esign-steps-bar-panel {
    padding-left: 10px;
}

.THIS .esign-next-step {
  margin-left: 135px;  
}

.THIS .esign-super-align {
    vertical-align: super;
}

.THIS .esign-note-text {
	color: grey;
}